#app{
  height:100vh;
  padding:2em;
}
.home{
  position: relative;
  border: 2px solid cc(ghost);
  height: 88vh;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
  // margin: 3em;
  .square{
    border:1px solid cc(ghost);
    display: flex;
    // @include dramaShadow;
    // height:50%;
    // width:50%;
    &.top-right{
      justify-content: flex-start;
    }
    &.top-left{
      justify-content: flex-end;

    }
    &.bottom-right{
      justify-content: flex-start;
      align-items: flex-end;
    }
    &.bottom-left{
      justify-content: flex-end;
      align-items: flex-end;
    }
    .circle{
      border:1px solid cc(ghost);
      border-radius:50%;
      height: 156px;
      width: 156px;
    }
  }
  .dramatic__shadow{
    @include dramaShadow;

  }
  .circle--lg{
    position: absolute;
    border:1px solid cc(ghost);
    border-radius:50%;
    height: 88vh;
    width: 88vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    // @include dramaShadow;
  }
  canvas {
    background: radial-gradient(white, silver);  
}
}