.navigation{
    height: 100%;
    // border: 1px solid pink;
    width: 9em;
    position: absolute;
    left: -36px;
    padding: 1em 0;
  &__container{
    height: 40px;
    // background: cc(txt, 0.6);
    background: cc(bg);
    color: cc(ghost);
    border-radius: .8em;
    width: 100%;
    border: 1px solid rgba(113, 111, 115, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    @include dramaShadow;
      a{
        height: 100%;
        width:100%;
        text-align: center;
        line-height:2.3;
        border-radius: .8em;
        background: cc(txt, 0.6);
        &:hover{
          background:yellow;
          color:cc(txt);
        }
        &.nav__active{
          background:yellow;
          color:cc(txt);
        }
      }
  }
}
.sub__nav{
  height: 40px;
    // background: cc(txt, 0.6);
    background: cc(bg);
    color: cc(ghost);
    border-radius: .8em;
    width: 100%;
    border: 1px solid darken(rgba(113, 111, 115, 0.8),30%);
    display: flex;
    justify-content: center;
    align-items: center;
    @include dramaShadow;
    div{
      height: 100%;
      width:100%;
      text-align: center;
      line-height:2.3;
      border-radius: .8em;
      background: darken(cc(txt, 0.8), 10%);
    }
}